@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Light mode variables */
		--text: 13, 14, 17; /* #0d0e11 */
		--text-muted: 100, 100, 100; /* #646464 */
		--background: 252, 252, 252; /* #fcfcfc */
		--background-muted: 240, 240, 240; /* #f0f0f0 */
		--primary: 111, 126, 149; /* #6f7e95 */
		--secondary: 181, 171, 191; /* #b5abbf */
		--accent: 162, 139, 167; /* #a28ba7 */
		--gradient: linear-gradient(
			135deg,
			var(--primary),
			var(--secondary)
		); /* #6f7e95 to #b5abbf */
		--success: 90, 196, 93; /* #5ac45d */
		--error: 245, 90, 78; /* #f55a4e */
		--warning: 250, 168, 38; /* #ffa726 */
	}

	.dark {
		/* Dark mode variables */
		--text: 238, 239, 242; /* #eeeff2 */
		--text-muted: 170, 170, 170; /* #aaaaaa */
		--background: 3, 3, 3; /* #030303 */
		--background-muted: 60, 60, 60; /* #3c3c3c */
		--primary: 106, 121, 144; /* #6a7990 */
		--secondary: 74, 64, 84; /* #4a4054 */
		--accent: 111, 88, 116; /* #6f5874 */
		--gradient: linear-gradient(
			135deg,
			var(--primary),
			var(--secondary)
		); /* #6a7990 to #4a4054 */
		--success: 90, 196, 93; /* #5ac45d */
		--error: 245, 90, 78; /* #f55a4e */
		--warning: 250, 168, 38; /* #ffa726 */
	}

	/* Automatically style all heading tags */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	/* Specific heading styles */
	h1 {
		@apply mb-4 text-5xl font-bold;
	}

	h2 {
		@apply mb-3 text-3xl font-bold;
	}

	h3 {
		@apply mb-2 text-2xl font-bold;
	}

	h4 {
		@apply mb-2 text-xl font-semibold;
	}

	h5 {
		@apply mb-1 text-lg font-semibold;
	}

	h6 {
		@apply mb-1 text-base font-semibold;
	}
}

@layer components {
	.decorative-text {
		@apply font-decorative text-2xl;
	}
}
