@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Light Mode */
	:root {
		/* Existing variables */
		--background: 347 13% 95%;
		--foreground: 347 5% 10%;
		--card: 347 13% 90%;
		--card-foreground: 347 5% 15%;
		--popover: 347 13% 95%;
		--popover-foreground: 347 95% 10%;
		--primary: 347 53% 49%;
		--primary-foreground: 0 0% 100%;
		--secondary: 347 13% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 309 13% 85%;
		--muted-foreground: 347 5% 40%;
		--accent: 309 13% 80%;
		--accent-foreground: 347 5% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 347 5% 90%;
		--border: 347 20% 59%;
		--input: 347 20% 50%;
		--ring: 347 53% 49%;
		--chart-1: 347 60% 60%; /* Brighter red */
		--chart-2: 327 50% 50%; /* Pink-red */
		--chart-3: 7 70% 60%; /* Red-orange */
		--chart-4: 327 30% 40%; /* Muted pink */
		--chart-5: 347 40% 70%; /* Light pink */

		/* State variables */
		--success: 123 52% 57%;
		--error: 5 89% 63%;
		--warning: 36 100% 56%;

		/* Additional variables for Tailwind config */
		--text: 347 5% 10%;
		--text-muted: 347 5% 40%;
		--background-muted: 347 13% 90%;
		--gradient: linear-gradient(
			135deg,
			hsl(var(--primary)),
			hsl(var(--secondary))
		);

		--radius: 0.75rem;
	}

	/* Dark Mode */
	.dark {
		--background: 347 13% 10%;
		--foreground: 347 5% 90%;
		--card: 347 13% 10%;
		--card-foreground: 347 5% 90%;
		--popover: 347 13% 5%;
		--popover-foreground: 347 5% 90%;
		--primary: 347 53% 49%;
		--primary-foreground: 0 0% 100%;
		--secondary: 347 13% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 309 13% 25%;
		--muted-foreground: 347 5% 60%;
		--accent: 309 13% 25%;
		--accent-foreground: 347 5% 90%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 347 5% 90%;
		--border: 347 20% 50%;
		--input: 347 20% 50%;
		--ring: 347 53% 49%;
		--chart-1: 347 70% 50%; /* Vibrant red */
		--chart-2: 327 60% 60%; /* Bright pink-red */
		--chart-3: 7 80% 50%; /* Bright red-orange */
		--chart-4: 327 40% 50%; /* Deep pink */
		--chart-5: 347 50% 60%; /* Soft pink */

		/* State variables */
		--success: 123 52% 47%;
		--error: 5 89% 53%;
		--warning: 36 100% 46%;

		/* Additional variables for Tailwind config */
		--text: 347 5% 90%;
		--text-muted: 347 5% 60%;
		--background-muted: 347 13% 15%;
		--gradient: linear-gradient(
			135deg,
			hsl(var(--primary)),
			hsl(var(--secondary))
		);

		--radius: 0.75rem;
	}

	/* Automatically style all heading tags */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}

	/* Specific heading styles */
	h1 {
		@apply mb-4 text-5xl font-bold;
	}

	h2 {
		@apply mb-3 text-3xl font-bold;
	}

	h3 {
		@apply mb-2 text-2xl font-semibold;
	}

	h4 {
		@apply mb-2 text-xl font-semibold;
	}

	h5 {
		@apply mb-1 text-lg font-semibold;
	}

	h6 {
		@apply mb-1 text-base font-semibold;
	}
}

@layer components {
	.decorative-text {
		@apply font-decorative text-2xl;
	}
}
